<mat-card>
    <mat-card-content class="align-items-center">

        <div class="" [hidden]="!list" style="width: 100%;">
            <form #userForm>
                <mat-card-title>Nuevo Desarrollador</mat-card-title>
                <mat-card-subtitle>Datos del nuevo usuario</mat-card-subtitle>
                <div class="formbold-form-wrapper" >
                    <div class="formbold-input-flex" style="width: 100%;">
                        <div>
                            <label>Nombre</label>
                            <mat-form-field class="row align-self-start"  style="width: 100%;">
                                <input matInput #nombresInput="ngModel" name="name" required
                                    [(ngModel)]="user.firstName">
                                <mat-hint class="mat-error" *ngIf="!user.firstName && nombresInput.touched">Ingresa el
                                    nombre del usuario</mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <label>Apellidos</label>
                            <mat-form-field style=" " class="row align-self-start">
                                <input matInput #apellidosInput="ngModel" name="lastName" required
                                    [(ngModel)]="user.lastName">
                                <mat-hint class="mat-error" *ngIf="!user.lastName && apellidosInput.touched">Ingresa el
                                    apellido del usuario</mat-hint>
                            </mat-form-field>
                        </div>

                       
                        <!--<mat-form-field  style="width: 47%; padding-left: 4%;" class="row align-self-end">
                        <mat-label>Apellidos</mat-label>
                        <mat-select>
                            <mat-option value="option">Option</mat-option>
                        </mat-select>
                        <mat-hint >Here's the dropdown arrow ^</mat-hint>
                    </mat-form-field>-->
                    </div>
                    <div class="formbold-input-flex">
                        <!--<mat-form-field style="width: 47%; " class="row align-self-start">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" #dateInput="ngModel"
                        name="color" required [(ngModel)]="user.">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>-->
                    <div>
                        
                    <label>Telefono</label>
                        <mat-form-field class="row align-self-end">
                           
                            <input matInput #phoneInput="ngModel" name="tel" required [(ngModel)]="user.phone">
                            <mat-hint class="mat-error" *ngIf="!user.phone && phoneInput.touched">Ingresa el
                                telefono del usuario</mat-hint>
                        </mat-form-field>
                    </div>
                    <div>
                        <label>Direccion</label>
                        <mat-form-field class="row align-self-end">
                           
                            <input matInput #addressInput="ngModel" name="address" required [(ngModel)]="user.address">
                            <mat-hint class="mat-error" *ngIf="!user.address && addressInput.touched">Ingresa la
                                direccion del usuario</mat-hint>

                        </mat-form-field>
                    </div>
                    </div>
                    <div class="formbold-input-flex">
                        <div>
                            <mat-label>email</mat-label>
                            <mat-form-field  class="row align-self-start">
                                <input matInput #emailInput="ngModel" name="email" required [(ngModel)]="user.email">
                                <mat-hint class="mat-error" *ngIf="!user.email && emailInput.touched">Ingresa la
                                    direccion de correo</mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <label>password</label>
                            <mat-form-field  class="row align-self-end">
                                <input matInput #passwordInput="ngModel" name="password" required
                                    [(ngModel)]="user.password">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                    [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                                <mat-hint class="mat-error" *ngIf="!user.email && emailInput.touched">Ingresa el
                                    password</mat-hint>
                            </mat-form-field>
                        </div>
                        
                    </div>
                    <div class="button-row d-flex align-items-center"
                        style=" display: flex; align-items: center;  justify-content: center;">
                        <button mat-flat-button color="primary" type="submit" (click)="save()">Guardar Usuario</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>