<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Proyectos</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">

        <div class="navBarP">
            <ul>
                <!--[appCheckPermission]="permissionTypes.READ" -->
                <li (click)="changeTab(0);" class="user-post active" [ngClass]="{'active':tabs==0}">Ver Proyectos
                </li>
                <!--[appCheckPermission]="permissionTypes.CREATE"-->
                <li (click)="changeTab(1);" class="user-review" [ngClass]="{'active':tabs==1}">Crear Proyecto</li>
            </ul>
        </div>
        <div class="profile-body">
            <!--[appCheckPermission]="permissionTypes.READ"-->
            <div [hidden]="tabs!=0" class="profile-posts tab">
               <projectList></projectList>
            </div>
            <!-- [appCheckPermission]="permissionTypes.CREATE"  *ngIf="!list" -->
            <div *ngIf="tabs==1" class="profile-reviews tab">
                <create-project [projectId]="selectedId" (finishEvent)="setListView()"></create-project>

            </div>
        </div>
    </mat-card-content>
</mat-card>