<mat-card>
    <mat-card-content class="align-items-center">
        <div class="formbold-main-wrapper" [hidden]="!list">
            <div class="formbold-form-wrapper">
                <form #typeCaseForm>
                    <div class="formbold-form-title">
                        <h2 class="">Tipo De Caso</h2>
                        <p>Los tipos de caso creados estaran disponibles para todos los proyecto</p>
                    </div>
                    <div>
                        <h5>Datos del tipo de caso</h5>
                        <label class="formbold-form-label"> Nombre:</label>
                        
                        <div class="formbold-input-flex">
                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                <input matInput type="text" id="nombre" name="nombre" [(ngModel)]="caseType.name"
                                    class="formbold-form-input" required #nombreInput="ngModel" required
                                    style="width: 90%;" />
                                <mat-hint class="mat-error" *ngIf="!caseType.name && nombreInput.touched">Ingresa el
                                    nombre del tipo de caso</mat-hint>
                            </mat-form-field>
                        </div>
                       
                        <div class="formbold-input-flex">
                            <div>
                                <label class="formbold-form-label"> Descripcion:</label>
                                <mat-form-field appearance="outline" color="primary">
                                    <textarea matInput class="formbold-form-input" multiline #descriptionInput="ngModel"
                                        name="description" [(ngModel)]="caseType.description" required></textarea>
                                    <mat-hint class="mat-error"
                                        *ngIf="!caseType.description && descriptionInput.touched">Ingresa la descripcion del tipo de caso</mat-hint>
                                </mat-form-field>
                            </div>
                        <div>
                            <label for="descripcionlbl" class="formbold-form-label"
                                        style="padding-left: 4%;">Color de etiqueta:</label>
                            <hr>
                                    <input matInput id="colorPicker" #colorPicker [(colorPicker)]="color" [style.background]="color" #colorInput="ngModel"
                                        name="color" required [(ngModel)]="caseType.labelColor"
                                        style="margin-top: 0rem; height: 4.8rem;"  />
                                       
                        </div>
                        </div>
                    </div>
                    <hr />
                    <button mat-flat-button color="primary" type="submit" (click)="save()">Guardar Tipo de caso</button>

                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-form-field hidden>
    <mat-label>Action</mat-label>
    <input matInput value="Dance" #action>
  </mat-form-field>

<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->
<div class="row">
    <!-- Card column -->
    <div class="col-12">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Etapas <span
                        class="bg-success text-white rounded font-12 p-l-5 p-r-5">New</span></mat-card-title>
               
                <mat-horizontal-stepper>
                 
                </mat-horizontal-stepper>
                <mat-horizontal-stepper linear #steppererror>
                    <h1>paso 2</h1>
                    <mat-step [stepControl]="errorfirstFormGroup" errorMessage="Name is required.">
                       
                    </mat-step>
                    <mat-step [stepControl]="errorsecondFormGroup" errorMessage="Address is required.">
                        
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        You are now done.
                        <div class="button-row">
                            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                            <button mat-raised-button color="warn" (click)="steppererror.reset()">Reset</button>
                        </div>
                    </mat-step>

                </mat-horizontal-stepper>

            </mat-card-content>
        </mat-card>
    </div>
</div>